body {
	margin: 30px;
}

.suppliersListTable>tbody>tr>td {
}
.suppliersListTable {
	font-size: 30px;
}
td {
	border: solid 1px black;
	padding: 20px;
}
th {
	padding: 20px;
	background-color: grey;
	color: white;
}
